body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

form {
    margin-top: 12px;
}

#landing {
    background: linear-gradient(
        rgb(26, 146, 202),
        rgb(151, 53, 160)
      ), url("https://picsum.photos/1200/900/?random");
  }